<!DOCTYPE html>
<html>
<head>
<title>FishBerry Main</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	$("button").click(function(){
		$.get("/main/" + $(this).attr("id"), function(data,status){});
	});
});
</script>
</head>

<body id="top">
<div class="wrapper row0">
  <div id="topbar" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace inline">
        <li><i class="fa fa-phone"></i> 010 - 2834 - 2827 </li>
        <li><i class="fa fa-envelope-o"></i> hanmircha@naver.com </li>
      </ul>
    </div>
    <div class="fl_right">
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>

<div class="wrapper row1">
  <header id="header" class="clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">Fish Berry</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Home</a></li>
        <li><a class="drop" href="#"> 어항관리</a>
          <ul>
            <li><a href="/water">수온 & 수질 관리</a></li>
            <li><a href="/feed">먹이급여 관리</a></li>
            <li><a href="/exchange">부분환수 관리</a></li>
            <li><a href="/streaming">어항 스트리밍</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">사용자관리</a>
          <ul>
            <li><a href="/changePW">비밀번호 변경</a></li>
            <li><a href="/logout">로그아웃</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
    
<div class="wrapper row2" >
  <div class="overlay">
    <section id="pageintro" class="clear"> 
      <!-- ################################################################################################ -->
      <div class="center">
        <h2 class="heading xl btmspace-30">Streamming</h2>
        <img style="-webkit-user-select: none;" src="http://fishberry.iptime.org:8080/?action=stream" width="403" height="302">
      </div>
      <div class="center" style="margin-top : 20px;">
        <button type="button" class="btn btn-primary" id='StartServo'>서보모터</button>
        <button type="button" class="btn btn-primary" id='StartIN'>StartIN</button>
	<button type="button" class="btn btn-primary" id='StartOUT'>StartOUT</button>
        <button type="button" class="btn btn-primary" id='StopIN'>StopIN</button>
        <button type="button" class="btn btn-primary" id='StopOUT'>StopOUT</button>
        <button type="button" class="btn btn-primary" id='TempWN'>경고LED</button>
      </div>
      <!-- ################################################################################################ -->
    </section>

  </div>
</div>
    
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_third first"><img src="/images/app/app1.jpg" alt=""></div>
      <div class="two_third">
	      <p style="font-size:20px;">Fishberry App을 이용하면 관리가 더욱 편리합니다</p><br>
	      <p>아래 버튼을 눌러 어플을 다운로드 받으세요</p><br>
              <input type="button" value='Download App' style="color: #000; font-size: 14px; width: 150px; height: 44px; background: #ffffff;" onClick="history.go(-1)"> <br>
        <ul class="nospace group">
          <li class="one_third first">
		<img src="/images/app/app2.jpg" alt="">
          </li>
          <li class="one_third">
		<img src="/images/app/app3.jpg" alt="">
          </li>
          <li class="one_third last">
		<img src="/images/app/app4.jpg" alt="">
          </li>
        </ul>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
    
<div class="wrapper row4">
  <section id="info" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h2 class="heading btmspace-30">FishBerry Manual</h2>
      <p class="lrspace">FishBerry의 기능을 이용하기 위해서 어려움이 있으시다면, 다음 메뉴얼을 참고하세요. </p>
    </div>
    <div class="group">
      <div class="one_half first"><img src="/images/question.png" alt="" style="width: 400px; height: 400px;"></div>
      <div class="one_half">
        <ul class="nospace group services">
          <li>
            <article><a href="#"><i class="fa fa-asterisk"></i></a>
              <p style="font-size:20px;">수온 & 수질 관리 메뉴얼</p>
	      <p>수온 & 수질 관리 메뉴얼입니다.</p>
	      <p> 자세한 내용은 아래를 클릭해주세요.</p>
              <footer><a href="/water">Read More &raquo;</a></footer>
            </article>
          </li>
          <li>
            <article><a href="#"><i class="fa fa-bar-chart"></i></a>
              <p style="font-size:20px;">자동먹이급여 메뉴얼</p>
              <p>자동먹이급여 메뉴얼입니다.</p>
	      <p> 자세한 내용은 아래를 클릭해주세요.</p>
              <footer><a href="/feed">Read More &raquo;</a></footer>
            </article>
          </li>
          <li>
            <article><a href="#"><i class="fa fa-paper-plane-o"></i></a>
              <p style="font-size:20px;">부분환수 관리 메뉴얼</p>
              <p>부분환수 관리 메뉴얼입니다.</p>
	      <p> 자세한 내용은 아래를 클릭해주세요.</p>
              <footer><a href="/exchange">Read More &raquo;</a></footer>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>

<div class="wrapper row6">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="http://fishberry.iptime.org">fishberry</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
<!-- JAVASCRIPTS -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/jquery.backtotop.js"></script>
<script src="scripts/jquery.mobilemenu.js"></script>
</body>
</html>
