<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>LED 켜보자!</title>
	</head>
	<body>
		<h1>LED를 한번 켜보자.</h1>
		<form action="/data" method="post">
			<input type="submit" value="on" name="led">
			<input type="submit" value="off" name="led">
		</form>
	</body>
</html>
